/* estilização global*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body{
    background-color: lightgray;
}

h1{
    margin-top: 5px;
    margin-left: 50px;    
}
/* estilização da do cabeçalho*/
header{
    color: #0d9408;
    display: flex;
    background-color: #f0f0f0;
    justify-content: space-around;
    font-weight: bold;
    width: 100%;
    height: 80px;
    box-shadow: 1px 1px 6px  rgba(0, 0, 0, 0.336);
}

#logo{
    margin-top: 10px;
    margin-bottom: auto;
}

#agencia,#exit{
    margin-top: 25px;
}

#logo-img{
    text-align: center;
    padding-top: 4px;
}
#logo img{
    width: 40px;
    height: 40px;
    margin: auto auto;
}


.valor{
    width: 200px;
    text-align: end;
}

.hide{
    display: none;
}

#saldo{
    width: 32.3%;
    background-color: #ffffff;
    margin-top: 5px;
    margin-left: 10px;
    box-shadow: 1px 6px 6px  rgba(0, 0, 0, 0.336);
    height: 45px;
    padding: 5px;
}

#saldo button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0px 5px 5px 5px;
    /* margin-left: 15px; */
}


/* estilização do main da pagina*/
main{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
}

#dados-servicos{
    background-color: #ffffff; 
    width: 33.3%;  
    height: auto;
    padding: 4px;
    margin-top: 20px;
    box-shadow: 1px 6px 6px  rgba(0, 0, 0, 0.336);
    border-radius: 5px;
}

#bemVindo-container{
    width: 33.3%;
    height: auto;
    margin-top: 20px;
    background-color: #ffffff; 
    box-shadow: 1px 6px 6px  rgba(0, 0, 0, 0.336);
    border-radius: 5px;
}

#bemVindo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;

}

#banner{
    width: 33.3%;
    margin-top: 20px;
    background-color: #ffffff; 
    box-shadow: 1px 6px 6px  rgba(0, 0, 0, 0.336);
    border-radius: 5px;
}

/* estilização da area de dados e serviços*/
#dados-container{
    display: flex;
    justify-content: space-between;
}

#valor{
    display: none;
    height: 50px;
}

.fa-chevron-down{
    color: #000;
}

#info-fatura{
    margin-top: 20px;
    margin-left: 10px;
    width: 50%;
}

#info-fatura p{
    margin-bottom: 40px;
}

#extrato{
    background-color: beige;
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    width: 50%;
}

#extrato p{
    margin-top: 5px;
    margin: 5px;
    font-size: 0.9em;
    width: auto;
    color: #096906;
    height: 200px;
    padding: 2px;
}

#limite{
    border: 1px solid black;
    font-weight: bold;
    padding: 5px;
}

#limite p{
    margin-left: 10px;
}

#servicos_container{
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 2px;
    border-top: 1px solid rgba(211, 211, 211, 0.555);;
    
}

#pix,#boleto,#qr_code,#recarga{
    width: 25%;
    height: 90px;
    border: none;
    background-color:#fff;
    cursor: pointer;
   
}

#servicos_container .fa-pix,.fa-barcode, #servicos_container .fa-arrow-right-arrow-left,.fa-mobile-screen-button{
   font-size: 3em;
   padding: 0;
   background-color: #fff;
   transition: 0.5s;
   border-radius: 50%;
}

#servicos_container .fa-pix:hover,.fa-barcode:hover, #servicos_container:hover .fa-arrow-right-arrow-left:hover,.fa-mobile-screen-button:hover{
  padding: 10px;
  border-radius: 50%;
  background-color: #0d9408;
}

/* estilização da section bem vindo*/
#bemVindo input{
    margin-top: 20px;
    width: 90%;
    padding: 5px;
}

#bemVindo p{
    margin-top: 10px;
    text-align: center;
}

#bemVindo span{
    margin-top: 40px;
    width: 100%;
    border: 1px solid rgba(211, 211, 211, 0.555);
}

.fa-money-bill-trend-up,.fa-hand-holding-dollar,.fa-magnifying-glass-dollar,.fa-people-group
,.fa-coins
,.fa-credit-card{
    font-size: 1.5em;
}

.demais-servicos{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    flex-wrap: wrap;
}
.demais-servicos a{
    padding: 2px;
    font-size: 0.9em;
    text-align: center;
    color: rgba(0, 0, 0, 0.993);
}

.demais-servicos a:hover{
    color: blue;
}

#banner img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-size: cover;
}

/* estilização da area pix*/

#area-pix,#area-boletos{
    position: relative;
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(253, 253, 253);
    height: 100vh;
    box-shadow: 1px 1px 6px  rgba(0, 0, 0, 0.336);
    border-radius: 10px;
    display: none;
}

.fechar{
    position: absolute;
    display: flex;
    justify-content: end;
    display: flex;
    height: auto;
    width: 100%;
}

.btn-fechar-transacoes{
    margin-top: 10px;
    margin-right: 20px;
    padding: 8px;
    
}

 #pix-opcoes,#boletos-opcoes{
    margin-top: 40px;
    margin-left: 100px;
    width: 300px;
  
}

#pix-opcoes h2 p{
    border-bottom: 1px solid rgba(211, 211, 211, 0.555);
}

#pix-opcoes h3{
    margin-top: 30px;
}

#pix-opcoes ul{
    text-align: center;
    margin-top: 20px;
    display: flex;
    gap: 20px;
}


#pix-opcoes ul li{
  list-style: none;
  cursor: pointer;
}

.fa-qrcode,.fa-money-bill-transfer,.fa-pix,.fa-comments-dollar,.fa-sack-dollar{
    font-size: 1.3em;
    padding: 15px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
    color: #0d9408;
}
.fa-qrcode:hover,.fa-money-bill-transfer:hover,.fa-pix:hover,.fa-comments-dollar:hover,.fa-sack-dollar:hover{
    color: #000;
}

/*area de transferencia*/
#info-transferencia-container{
    display: flex;
}
#transferir,.container-pagamento{
    height: 550px;
    width: 600px;
    margin-top: 40px;
    margin-left:100px;
    border: 1px solid rgba(211, 211, 211, 0.555);
} 

#transferir form p{
    margin-top: 20px;
    margin-left: 20px;
}

#transferir input{
    margin-left: 20px;
    margin-top: 20px;
    width: 300px;
    border: none;
    border-bottom: 1px solid;
}
#transferir form input:focus{
    outline: none;
}

#informacoes-transferencia{
    margin-top: 20px;
    margin-left: 20px;
    background: rgb(255, 255, 237);
    width: 300px;
}

#informacoes-transferencia p{
    display: flex;
    margin-left: 5px;
    justify-content: space-between;
    padding: 20px 20px 20px 0;
    background: rgb(255, 255, 237);
    border-bottom: 1px solid rgba(211, 211, 211, 0.555);
}

#btn-confirmar-transferencia{
    margin-top: 5px;
    margin-left: 90px;
    padding: 10px;
    background-color: #096906;
    color: #ffff;
    border: none;  
    cursor: pointer;  
    transition: 0.2s;
    border-radius: 5px;
}
#btn-confirmar-transferencia:hover{
    border: 2px solid black;

}

#transferenciaCheck{
    text-align: center;
    margin-left: 50px;
    margin-top: 100px;
    transition: 1s;
}

.fa-check{
    font-size: 2em;
    background-color: #096906;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    margin-bottom: 5px;
}

/* estilização da area de boletos*/


#area-boletos h2{
    margin-bottom: 40px;
}

.valor-fatura{
    font-weight: bold;
}

#boletos-opcoes{
    list-style: none;
}

#boletos-opcoes li{
    margin-bottom: 10px;
}

#boletos-opcoes li p{
    color: rgb(14, 3, 180);
    cursor: pointer;
}

#boletos-opcoes li p:hover{
    text-decoration: underline;
}

/* estilização da area pagar fatura do cartão*/

#pagar-cartao{
    margin-top: 50px;
    margin-left: 50px;
}

#pagar-hoje{
    background-color:#0d9408
}

.pagar, .parcelar{
    width: 100px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 10px;
    padding: 7px;
    border-radius: 5px;
    background-color: #096906;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;

}

#extrato-cartao{
    width: 90%;
    height: 220px;
    border: 1px solid #000;
    overflow-y: scroll;
}

#extrato-especificacao, .compras{
    display: flex;
    justify-content: space-between;
    padding: 5px 30px 5px ;
    background-color: lightgrey;
    list-style: none;
}

.compras{
  background-color: #fff;
}

/*estilização da area pagar conta de agua*/
#pagar-conta-agua{
    margin-top: 40px;
    margin-left: 2px;
}

#pagar-conta-agua h3{
    text-align: center;
    margin-bottom: 20px;
}

#pagar-conta-agua table{
    width: 98%;
    margin:auto auto;
    border: 1px solid black;
    border-radius: 5px;
}

#pagar-conta-agua table tr td{
    text-align: center;
    padding: 8px;
    border-bottom: 1px solid;
}

#pagar-conta-agua .color{
    background-color: #0d9408;
    font-weight: bold;
}

#pagar-conta-agua p{
    margin-top: 10px;
    margin-left: 10px;
}

#pagar-conta-agua .pagar{
    margin-left: 20px;
}


